<div class="header">
  <h4 class="title">{{title}}</h4>
</div>
<div class="content">
  <form [formGroup]="form" (ngSubmit)="submit()" class="">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="control-label">Codigo de materia</label>
          <input
            [(ngModel)]="course.codigo"
            class="form-control border-input"
            formControlName="codigo"
            placeholder="Codigo de materia"
            value="{{course.codigo}}">
          <span
            *ngIf="form.controls.codigo.touched && !form.controls.codigo.valid"
            class="help-block">
            Este campo contiene errores
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Nombre</label>
          <input
            [(ngModel)]="course.nombre"
            class="form-control border-input"
            formControlName="nombre"
            placeholder="Nombre del área"
            value="{{course.nombre}}">
          <span
            *ngIf="form.controls.nombre.touched && !form.controls.nombre.valid"
            class="help-block">
                        Este campo contiene errores
                    </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Créditos</label>
          <input
            [(ngModel)]="course.creditos"
            class="form-control border-input"
            formControlName="creditos"
            placeholder="creditos"
            value="{{course.creditos}}">
          <span
            *ngIf="form.controls.creditos.touched && !form.controls.creditos.valid"
            class="help-block">
            Este campo contiene errores
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Costo</label>
          <input
            [(ngModel)]="course.costo"
            class="form-control border-input"
            formControlName="costo"
            placeholder="costo"
            value="{{course.costo}}">
          <span
            *ngIf="form.controls.costo.touched && !form.controls.costo.valid"
            class="help-block">
            Este campo contiene errores
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Carrera</label>
          <select
            [(ngModel)]="carrera.idCarrera"
            class="form-control border-input"
            formControlName="carrer"
            placeholder="Estudiante">
            <option *ngFor="let career of (careers|async).response"
                    [value]="career">
              {{career.nombre}}
            </option>
          </select>
          {{(careers| async).response | json}}
          <span
            *ngIf="form.controls.carrer.touched && !form.controls.carrer.valid"
            class="help-block">
            Este campo contiene errores
          </span>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-wd btn-success" type="submit">
          <span class="btn-label">
            <i class="fa fa-check"></i></span>
          Guardar
        </button>

        <a [routerLink]="['/courses']" class="btn btn-wd btn-default btn-fill btn-move-left">
          <span class="btn-label"><i class="ti-angle-left"></i></span> Volver
        </a>
      </div>
    </div>
  </form>
</div>
