<div class="header">
    <h4 class="title">{{title}}</h4>
</div>
<div class="content">
    <form [formGroup]="form" (ngSubmit)="submit()" class="">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label" >Número de aula</label>
                    <input
                        [(ngModel)]="classroom.numeroAula"
                        class="form-control border-input"
                        formControlName="numeroAula"
                        placeholder="Número de aula"
                        value="{{classroom.numeroAula}}">
                    <span
                        *ngIf="form.controls.numeroAula.touched && !form.controls.numeroAula.valid"
                        class="help-block">
                        Este campo contiene errores
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" >Área</label>
                    <input
                        [(ngModel)]="classroom.area"
                        class="form-control border-input"
                        formControlName="area"
                        placeholder="Nombre del área"
                        value="{{classroom.area}}">
                    <span
                        *ngIf="form.controls.area.touched && !form.controls.area.valid"
                        class="help-block">
                        Este campo contiene errores
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" >Tipo</label>
                    <select
                        [(ngModel)]="classroom.tipo"
                        class="form-control border-input"
                        formControlName="tipo"
                        placeholder="Tipo de aula"
                        value="{{classroom.tipo}}">
                        <option *ngFor="let at of classroomTypes"
                            [value]="at"
                            [selected]="at === classroom.tipo">{{at}}</option>
                    </select>
                    <span
                        *ngIf="form.controls.tipo.touched && !form.controls.tipo.valid"
                        class="help-block">
                        Este campo contiene errores
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-wd btn-success" type="submit">
                    <span class="btn-label">
                        <i class="fa fa-check"></i>
                    </span>
                    Guardar
                </button>

                <a [routerLink]="['/classrooms']" class="btn btn-wd btn-default btn-fill btn-move-left">
                    <span class="btn-label"><i class="ti-angle-left"></i></span> Volver
                </a>
            </div>
        </div>
    </form>
</div>
